<nav>
    <ul class="flex justify-between py-3 px-1 bg-slate-200">
        <div class="flex gap-4">
            <li routerLinkActive="text-slate-600"><a class="" routerLink="/home">Movie mania</a></li>
            <li routerLinkActive="text-slate-600"><a routerLink="/home">Home</a></li>
        </div>
        <div class="flex gap-4">
            <li routerLinkActive="text-slate-600"><a routerLink="/movies">Movies</a></li>
            <li routerLinkActive="text-slate-600"><a routerLink="/add-movie">Add new movie</a></li>
        </div>
    </ul>
</nav>